{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "spaced-comment": [0]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "moduleDirectory": ["node_modules", "./src"]
      }
    }
  }
}
